html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------*/

body {
	font-size: 15px;
	font-family: "Palanquin", sans-serif;
	background: #273e49;
	margin: 0 auto;
}

/* --Scrollbar-- */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	background-color: #1f3642;
}

::-webkit-scrollbar {
	width: 3px;
	background-color: #ffb900;
}

::-webkit-scrollbar-thumb {
	background-color: #ffb900;
}

/* --Navigation-- */

#nav_wrap {
	width: 100%;
	height: 70px;
	background: #1f3642;
	border-bottom: 5px solid #ffb900;
	position: fixed;
	top: 0;
	left: 0;
}

.nav {
	max-width: 1120px;
	margin: 0 auto;
}

.nav img {
	width: 110px;
	height: 58px;
	position: absolute;
	top: 7px;
}

.nav ul {
	list-style: none;
	text-align: right;
	margin-top: 25px;
}

.nav ul li {
	display: inline-block;
	margin-left: 40px;
}

.nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
	transition: 0.5s;
}

.nav ul li a.active {
	color: #ffb900;
	padding-bottom: 5px;
	border-bottom: 1px solid #f60;
}

.nav ul li a:hover {
	color: #ffb900;
	transition: 0.5s;
	padding-bottom: 5px;
	border-bottom: 1px solid #f60;
}

/* --Main-- */

#main_wrap {
	width: 100%;
	margin-top: 75px;
}

.main {
	max-width: 1100px;
	margin: 0 auto;
}

/* --Main-bg-- */

.main-bg {
	background: url("../images/logo.png");
	z-index: 10;
}

/* --Main register-- */

.main form {
	text-align: center;
	padding-top: 30px;
}

.main form h4 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 15px;
	color: #ffb900;
}

.main form input.meno, input.mail, input.predmet, input.clen1, input.clen2, input.clen3, input.clen4, input.jmenoteamu, textarea.sprava {
	width: 300px;
	height: 40px;
	background: none;
	font-size: 16px;
	color: #ffb900;
	border: 1px solid #ffb900;
	padding-right: 5px;
	padding-left: 5px;
	outline: none;
	border-radius: 10px;
}

.main form input.pic {
	color: #ffb900;
}

.main textarea.sprava {
	width: 915px;
	height: 200px;
	resize: none;
}

.main form input.odoslat {
	width: 120px;
	height: 50px;
	background: none;
	border: 1px solid #ffb900;
	color: #ffb900;
	margin-top: 40px;
	font-size: 20px;
	outline: none;
	margin-bottom: 50px;
	border-radius: 10px;
	transition: 0.5s;
}

.main form input.odoslat:hover {
	cursor: pointer;
	color: white;
	background: #ffb900;
}

/* --Main index-- */

.main img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

.a-text {
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.a-text a {
	color: white;
	padding: 20px 40px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #ffb900;
	border-radius: 15px;
	transition: 0.5s;
}

.a-text a:hover {
	background: #ffb900;
}

.container {
	margin-top: 70px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	font-size: 50px;
    color: white;
}

.dud {
	color: #ffb900;
}

/* --Main rules-- */

.main h3.left {
	text-align: left;
	padding-left: 20px;
}

.main p.left {
	text-align: left;
	color: white;
}

/* --Footer-- */

#footer_wrap {
	width: 100%
}

.footer {
	width: 1100px
	margin: 0 auto;
	padding-bottom: 30px;
}

.footer p {
    text-align: center;
    color: rgba(255,255,255,0.25);
}

.footer a {
	color: rgba(255,255,255,0.25);
	transition: 0.5s;
}

.footer a:hover {
	color: #ffb900;
}

/* --Responsive-- */

@media only screen and (min-width: 1920px) {
	.footer-abs {
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    padding-bottom: 16px;
    }
}
